.filter-sidebar {
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__section {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1.5rem;
  }

  .filter-title {
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 8px;
  }
}

.accordion {
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    color: var(--color-primary); // El verde de tu Figma
    font-weight: 600;

    &.active {
      color: var(--color-primary);
    }
  }

  &__content {
    display: none;
    flex-direction: column;
    padding-left: 1rem;

    &.open {
      display: flex;
    }
  }

  &__item {
    text-align: left;
    padding: 0.3rem 0;
    font-size: 0.9rem;
    color: var(--color-text);

    &.selected {
      color: var(--color-primary);
      font-weight: bold;
    }
  }
}

.price-range {
  &__slider {
    accent-color: #2ecc71;
    width: 100%;
  }
}

.filter {
  display: flex;
  gap: 12px;
  cursor: pointer;
}