$primary: #33CB98;
$light-primary: #95E2CA;
$dark-primary: #2B9974;
$secondary: #202325;
$light-gray: #F7F8FB;
$dark-gray: #B6B9C1;

$black: #000000;
$white: #ffffff;

$title: $secondary;
$title-light: $white;
$text-light: $white;
$text-paragraph: #687188;

$stroke-subtle: rgba($secondary, 0.1);

$discount: #388E3C;

$shadow-base: 0 10px 30px rgba($secondary, 0.08);